# Loops

## only_adults

In [11]:
age= [12, 18, 29]

def only_adults(age):  
    only_adult= []
    for x in age:
        if x >= 18:
            only_adult.append(x)
    return only_adult
    
only_adults(age)

[18, 29]

## get_only_adults

In [10]:
ages= [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, None]

def get_only_adults(list):
    get_only_adult= []
    for x in list:
        if x is not None and x >= 18:
            get_only_adult.append(x)
    return get_only_adult

get_only_adults(ages)

[18, 19, 20, 21, 22, 23, 24]

## are_all_adults

In [55]:
set1= [18, 19, 20, 21]
set2= [14, 15, 16, 17]
set3= [16, 17, 18, 19]

def all_adults(ages):
    for x in ages:
        if x < 18:
            ages.append('false')
        for y in ages:
            if y == 'false':
                return False
        else:
            return True

all_adults(set1)

True

## count_nones

In [39]:
list1= [None, None, None, None, True, False, 0, 1, 2, 3, "hello", "goodbye"]

def count_nones(random):
    nones= len([x for x in random if x == None])
    return nones

count_nones(list1)

4

## longest_words

In [120]:
words= ['boy', 'ball', 'belief', 'belay', 'belligerent', 'bat']

def longest_word(words):
    
    length= []
    
    for x in words:
        length.append(len(x))
    
    max_val= max(length)
    index_val= length.index(max_val)
    return words[index_val]
    
longest_word(words)

'belligerent'

## factorial

In [28]:
from functools import reduce

num= 3

def factorial(num):
                
    final_factor= reduce((lambda x, y: x * y), range(1, num + 1))
    
    return final_factor
    
factorial(num)

6

## n_highest_number

In [53]:
number_list= [1, 2, 3, 4, 5, 6, 10]

def n_highest_number(list, num):
    list.sort()
    num= -abs(num)
    return list[num]
   
n_highest_number(number_list, 4)

4