Count

In [8]:
def count(int):
    print([x for x in range(int + 1)])

count(20)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Count Build

In [15]:
def count_build(int):
    nums= []
    for x in range(int +1):
        nums.append(x)
        print(nums)
            
count_build(21)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

Element Search***

In [55]:
def element_search(words, element):
    for x in words:
        if len(element) == len(x):
            x is True
        else:
            x is False
            return bool(words)


words=['dog', 'cat', 'elephant', 'bear', 'snake']
element='big'
element_search(words, element)

True

List Overlap

In [66]:
def list_overlap(a, b):
    new_list= []
    for x in a:
        for y in b:
            if x == y:
                new_list.append(x)
            else:
                pass
    return new_list
            
a= [1, 2, 3, 4, 5]
b= [2, 3, 4]
list_overlap(a, b)

[2, 3, 4]

Palindrome****

In [119]:
def palindrome(a):
    z= str(a)
    y= [*z]
    b= y[::-1]
    if y == b:
        print('It is a palindrome.')
    
        
    
a= 12321
palindrome(a)

It is a palindrome.

Birthday Dictionary

In [80]:
birthdays= {"Nas":"May 31", "Laura":"Sep 13", "Emily":"Oct 2", "Shandy":"Sep 26", "Claudia":"Oct 27", "Helena":"May 20", "Rita":"March 11", "Sophie":"April 3", "Lina":"May 27", "Daniella":"Aug 21"}

In [83]:
birthdays

{'Nas': 'May 31',
 'Laura': 'Sep 13',
 'Emily': 'Oct 2',
 'Shandy': 'Sep 26',
 'Claudia': 'Oct 27',
 'Helena': 'May 20',
 'Rita': 'March 11',
 'Sophie': 'April 3',
 'Lina': 'May 27',
 'Daniella': 'Aug 21'}

Birthdays JSON

In [84]:
import json

In [85]:
jsonBirthday= json.dumps(birthdays)

In [86]:
print(type(jsonBirthday))

<class 'str'>

In [87]:
print(jsonBirthday)

{"Nas": "May 31", "Laura": "Sep 13", "Emily": "Oct 2", "Shandy": "Sep 26", "Claudia": "Oct 27", "Helena": "May 20", "Rita": "March 11", "Sophie": "April 3", "Lina": "May 27", "Daniella": "Aug 21"}

CVs

In [177]:
cvs = [{'user': 'foo', 'jobs': ['data monkey', 'copyist', 'wrecking ball operator']},
       {'user': 'bar', 'jobs': ['wrecking ball operator', 'poet']},
       {'user': 'baz', 'jobs': ['dancer', 'waitstaff']},
       {'user': 'qux', 'jobs': ['wrecking ball operator', 'waitstaff']}]

Has Experience As

In [178]:
def has_experience(cvs, y):
    users= []
    for x in cvs:
        for z in x['jobs']:
            if z == y:
                users.append(x['user'])
    return users
   
y= 'waitstaff'
has_experience(cvs, y)

['baz', 'qux']

Job Count

In [218]:
import operator

cvs = [{'user': 'foo', 'jobs': ['data monkey', 'copyist', 'wrecking ball operator']},
       {'user': 'bar', 'jobs': ['wrecking ball operator', 'poet']},
       {'user': 'baz', 'jobs': ['dancer', 'waitstaff']},
       {'user': 'qux', 'jobs': ['wrecking ball operator', 'waitstaff']}]

def job_count(cvs):
    jobs= []
    for x in cvs:
        for z in x['jobs']:
            jobs.append(z)
    new= []
    for y in jobs:
        r= operator.countOf(jobs,y)
        new.append(r)
    
    d= {}
    for q in jobs:
        for e in new:
            d[q] = e
            new.remove(e)
            break
    
    return d
 
        
job_count(cvs)

{'data monkey': 1,
 'copyist': 1,
 'wrecking ball operator': 3,
 'poet': 1,
 'dancer': 1,
 'waitstaff': 2}

Bonus Probem