Count

In [2]:
def count(int):
    print([x for x in range(int + 1)])

count(9)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

Count Build

In [5]:
def count_build(int):
    nums= []
    for x in range(int +1):
        nums.append(x)
        print(nums)
            
count_build(20)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Element Search

In [28]:
def element_search(words, element):
    return element in words


words= ['dog', 'cat', 'elephant', 'bear', 'snake']
element='boo'
element_search(words, element)

False

In [11]:
'cat' in ['dog', 'cat', 'elephant', 'bear', 'snake']

True

In [12]:
'tooth' in ['dog', 'cat', 'elephant', 'bear', 'snake']

False

List Overlap

In [43]:
def list_overlap(a, b):
    new_list= []
    for x in a:
        for y in b:
            if x == y:
                if y not in new_list:
                    new_list.append(y)
    return new_list


a= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
b= [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
list_overlap(a, b)

[1, 2, 3, 5, 8, 13]

Palindrome

In [10]:
def palindrome(num):
    return str(num) == str(num)[::-1]

palindrome(202)

True

Birthday Dictionary

In [83]:
birthdays

{'Nas': 'May 31',
 'Laura': 'Sep 13',
 'Emily': 'Oct 2',
 'Shandy': 'Sep 26',
 'Claudia': 'Oct 27',
 'Helena': 'May 20',
 'Rita': 'March 11',
 'Sophie': 'April 3',
 'Lina': 'May 27',
 'Daniella': 'Aug 21'}

In [12]:
birthdays= {"Emily": "Oct 2", "Nas": "May 31", "Brandon": "Feb 11", "Nandan": "May 5"}

Birthdays JSON

In [4]:
import json

In [16]:
jsonBirthday= json.dumps(birthdays, indent= 2)

In [17]:
print(type(jsonBirthday))

<class 'str'>

In [18]:
print(jsonBirthday)

{
  "Emily": "Oct 2",
  "Nas": "May 31",
  "Brandon": "Feb 11",
  "Nandan": "May 5"
}

CVs

In [177]:
cvs = [{'user': 'foo', 'jobs': ['data monkey', 'copyist', 'wrecking ball operator']},
       {'user': 'bar', 'jobs': ['wrecking ball operator', 'poet']},
       {'user': 'baz', 'jobs': ['dancer', 'waitstaff']},
       {'user': 'qux', 'jobs': ['wrecking ball operator', 'waitstaff']}]

Has Experience As

In [178]:
def has_experience(cvs, y):
    users= []
    for x in cvs:
        for z in x['jobs']:
            if z == y:
                users.append(x['user'])
    return users
   
y= 'waitstaff'
has_experience(cvs, y)

['baz', 'qux']

Job Count

In [218]:
import operator

cvs = [{'user': 'foo', 'jobs': ['data monkey', 'copyist', 'wrecking ball operator']},
       {'user': 'bar', 'jobs': ['wrecking ball operator', 'poet']},
       {'user': 'baz', 'jobs': ['dancer', 'waitstaff']},
       {'user': 'qux', 'jobs': ['wrecking ball operator', 'waitstaff']}]

def job_count(cvs):
    jobs= []
    for x in cvs:
        for z in x['jobs']:
            jobs.append(z)
    new= []
    for y in jobs:
        r= operator.countOf(jobs,y)
        new.append(r)
    
    d= {}
    for q in jobs:
        for e in new:
            d[q] = e
            new.remove(e)
            break
    
    return d
 
        
job_count(cvs)

{'data monkey': 1,
 'copyist': 1,
 'wrecking ball operator': 3,
 'poet': 1,
 'dancer': 1,
 'waitstaff': 2}

Bonus Problem

In [7]:
import math
import numpy as np

In [5]:
r= 5
area_circle= math.pi * (r**2)
print(area_circle)

78.53981633974483

In [9]:
a= 2
b= 3
hypotenuse= np.sqrt(a**2 + b**2)
print(hypotenuse)

3.605551275463989