## List

In [121]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [ ]:
#TODO: Print the 3rd colour in the list.

In [4]:
print(colors[2])

yellow

In [ ]:
#TODO: Change the colour indigo to pink.

In [6]:
colors[-2]= 'pink'
print(colors)

['red', 'orange', 'yellow', 'green', 'blue', 'pink', 'violet']

In [ ]:
#TODO: Print the first 3 elements of the list.

In [7]:
print(colors[:3])

['red', 'orange', 'yellow']

In [ ]:
#TODO: Create a loop that prints each of the item in the list.

In [9]:
thisloop= [print(x) for x in colors]

red
orange
yellow
green
blue
pink
violet

In [106]:
def add_rainbow(colors):
    rainbow= []
    for y in colors:
        x = ("rainbow "+ str(y))
        rainbow.append(x)
    return rainbow

add_rainbow(colors)

['rainbow red',
 'rainbow orange',
 'rainbow yellow',
 'rainbow green',
 'rainbow blue',
 'rainbow indigo',
 'rainbow violet']

In [ ]:
# TODO: Use the list above to create a list that contains only the statement, "blue as the sky blue"

In [125]:
colors[0]= "blue"
colors[1]= "as"
colors[2]= "the"
colors[3]= "sky"
colors[4]="blue"
print(colors[:-2])

['blue', 'as', 'the', 'sky', 'blue']

In [14]:
# TODO: Use list comprehension to multiply each number by 7.
num = [0, 1, 2, 3, 5]
new_num= [x*7 for x in num]
print(new_num)

[0, 7, 14, 21, 35]

# Tuples

In [20]:
fruituple = ("apple", "banana", "cherry", "grapes", "chocolate", "papapaya")

In [23]:
# TODO: Print the odd one out without writing the word.

print(fruituple[4])

chocolate

# Dictionaries

In [25]:
pet = {
    "pet_name": "Chewy",
    "fave_food": "pizza",
    "color": "brown",
    "enjoys": "chasing postmen"
}

In [26]:
# TODO: Print out the pet's name without putting "Chewy" in your print statement
pet['pet_name']

'Chewy'

In [35]:
# TODO: Print out brown Chewy without putting these words in the print statement.
print(pet['color'])
print(pet['pet_name'])

brown
Chewy

In [46]:
# TODO: Chewy decided to have a new do. He's dyed his fur purple. Change Chewy's color to purple.
pet['color']= 'purple'
pet['color']

'purple'

In [40]:
# TODO: Chewy has gotten into the health craze. He's now a vegan dog and now loves tofu.
# Change Chewy's favourite food to tofu. 
pet['food']= 'tofu'
pet['food']

'tofu'

In [47]:
# Loop through the dictionary to print all of the pet's qualities.
print([pet[x] for x in pet])

['Chewy', 'pizza', 'purple', 'chasing postmen', 'tofu']

# Loops

[How to use Range](https://www.w3schools.com/python/ref_func_range.asp)

In [49]:
# TODO: Use a loop to print the numbers 1 to 10. 
print([x for x in range(11)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
# TODO: Create a loop that prints the number 0 - 50.
print([x for x in range(51)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [67]:
*****# TODO: Create a loop that: 
# prints statement "... is even" for even numbers and "...is odd"for odd numbers
x= [range(10) % 2]
if x == 0 for y in x: print(x + "is even") else print(x + "is odd")

SyntaxError: invalid syntax (3840261980.py, line 4)

In [ ]:
# TODO: 
# print all the numbers from 1 to 100.
# Now, for all numbers divisible by 3,
# print "Fizz" instead of the number.
# For numbers divisible by 5,
# print "Buzz" instead.
# For numbers divisible by BOTH 5 & 3, 
# print "FizzBuzz".

In [187]:
def fizzbuzz():
    for x in range(101):
        if x % 3 == 0 & x % 5 == 0:
            print('FizzBuzz')
        elif x % 3 == 0:    
            print('Fizz')
        elif x % 5 == 0:
            print('Buzz')
        else:
            print(x)
            
fizzbuzz()

FizzBuzz
1
2
FizzBuzz
4
Buzz
FizzBuzz
7
8
FizzBuzz
Buzz
11
FizzBuzz
13
14
FizzBuzz
16
17
FizzBuzz
19
Buzz
FizzBuzz
22
23
FizzBuzz
Buzz
26
FizzBuzz
28
29
FizzBuzz
31
32
FizzBuzz
34
Buzz
FizzBuzz
37
38
FizzBuzz
Buzz
41
FizzBuzz
43
44
FizzBuzz
46
47
FizzBuzz
49
Buzz
FizzBuzz
52
53
FizzBuzz
Buzz
56
FizzBuzz
58
59
FizzBuzz
61
62
FizzBuzz
64
Buzz
FizzBuzz
67
68
FizzBuzz
Buzz
71
FizzBuzz
73
74
FizzBuzz
76
77
FizzBuzz
79
Buzz
FizzBuzz
82
83
FizzBuzz
Buzz
86
FizzBuzz
88
89
FizzBuzz
91
92
FizzBuzz
94
Buzz
FizzBuzz
97
98
FizzBuzz
Buzz

# Challenge...

In [212]:
friends = [
  {
    "name": "Pedro",
    "relationship": "school",
    "age": 30
  },
  {
    "name": "Sofia",
    "relationship": "work",
    "age": 38
  },
  {
    "name": "Mia",
    "relationship": "school",
    "age": 40
  },
  {
    "name": "Lucy",
    "relationship": "work",
    "age": 27
  }
]

In [213]:
# TODO: Print the names of all the friends

In [214]:
for x in friends:
    print(x['name'])

Pedro
Sofia
Mia
Lucy

In [215]:
# TODO: Print the relationship of all the friends

In [216]:
for x in friends:
    print(x['relationship'])

school
work
school
work

In [217]:
# TODO: Add 1 to the age of all the friends.

In [218]:
for x in friends:
    age= x['age']
    x['age']= age + 1
    
print(friends)

[{'name': 'Pedro', 'relationship': 'school', 'age': 31}, {'name': 'Sofia', 'relationship': 'work', 'age': 39}, {'name': 'Mia', 'relationship': 'school', 'age': 41}, {'name': 'Lucy', 'relationship': 'work', 'age': 28}]

In [ ]:
# TODO: Who is the oldest. Use a loop to print out the name of the oldest person.

In [385]:
def oldest(friends):
    age= []
    index= []
    for x in friends:
        z= x['name'], x['age']
        age.append(z)
    return age[2][0]
    

oldest(friends)

'Mia'